body {
    background-color: turquoise;
    color: red;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
    color: darkblue;
}

.sub-title {
    color: darkred;
}

.text {
    color: darkgreen;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 50px;
}


nav {
    background-color: black;
    padding: 15px;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: lightblue
}

section {
    margin: 40px;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
}

article {
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
}

article:hover {
    transition: 0.3s;
    background-color: lightgrey;
}

button {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    background-color: darkred;
}

span {
    display: inline-block;
    background-color: darkblue;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 2px;
}

@media (max-width 600px) {

    li {
        display: block;
        margin: 10px;
    }

    section {
        width: 95%;
    }
}